#Eclipse
*/bin/
*.class

#OSX
target/
Safari*OLD*
.DS_Store
.DS_Store
.metadata
Icon?

#Project
ccms_updatesite/artifacts.jar
ccms_updatesite/content.jar
ccms_updatesite/features*
ccms_updatesite/plugins*

